.navbar {
  width: 100%;
  height: auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray-color);
  /* position: fixed; */
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 40px 100px;
    height: auto;
  }
}

/* Mobile */

.navbar .navbar-mobile {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.navbar .navbar-mobile__column {
  align-items: end;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navbar .navbar-mobile {
    display: none;
  }
}

.navbar .navbar-mobile .navbar-mobile__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*LINKS MOBILE*/
.navbar-mobile__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-mobile__links-container li {
  margin-top: 20px;
}

.navbar-mobile__links-container li a {
  width: 100%;
  color: var(--white-primary-color);
  font-weight: 700;
}

/* DESKTOP */

.navbar .navbar-desktop {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white-primary-color);
}
@media screen and (min-width: 768px) {
  .navbar .navbar-desktop {
    display: flex;
  }
}

.navbar .navbar-desktop .navbar-desktop__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-weight: 700;
}

.navbar .navbar-desktop .navbar-desktop__links li a {
  cursor: pointer;
  color: var(--white-primary-color);
}

.navbar .navbar-desktop .navbar-desktop__actions {
  display: flex;
  gap: 30px;
}
