<nav class="navbar">
  <!-- Mobile -->
  <ul class="navbar-mobile">
    <li class="navbar-mobile__link">
      <button class="navbar-mobile__button">
        <img src="assets/icons/menu.svg" alt="" />
      </button>
    </li>
    <li>
      <app-logo></app-logo>
    </li>
    <li class="navbar-mobile__link">
      <button class="navbar-mobile__button">
        <img
          width="16px"
          height="16px"
          src="assets/icons/shopping-cart.svg"
          alt="cart icon"
        />
      </button>
    </li>
  </ul>

  <!-- Desktop -->

  <ul class="navbar-desktop">
    <app-logo></app-logo>
    <div class="navbar-desktop__links">
      <li><a href="#">Inicio </a></li>

      <li><a href="#">Catalogo</a></li>

      <li><a href="#">Ofertas</a></li>
    </div>

    <div>
      <button>Compre Agora</button>
      <button>Carrinho</button>
    </div>
  </ul>
</nav>
