<nav class="navbar">
  <!-- Mobile -->
  <ul class="navbar-mobile" [class]="showToggle ? 'navbar-mobile__column' : ''">
    <li class="navbar-mobile__link">
      <app-button-icon
        [icon]="showToggle ? 'assets/icons/x.svg' : 'assets/icons/menu.svg'"
        [alt]="'Nenu icon'"
        (click)="onToggle()"
      ></app-button-icon>
    </li>
    <div *ngIf="showToggle" class="navbar-mobile__links-container">
      <li><a href="#">Inicio </a></li>
      <li><a href="#">Catalogo</a></li>
      <li><a href="#">Ofertas</a></li>
    </div>
    <li *ngIf="!showToggle">
      <app-logo></app-logo>
    </li>
    <li class="navbar-mobile__link" *ngIf="!showToggle">
      <app-button-icon
        [icon]="'assets/icons/shopping-cart.svg'"
        [alt]="'cart icon'"
      ></app-button-icon>
    </li>
  </ul>

  <!-- Desktop -->

  <ul class="navbar-desktop">
    <a href="#">
      <app-logo></app-logo>
    </a>
    <div class="navbar-desktop__links">
      <li><a href="#">Inicio </a></li>
      <img src="assets/images/line.svg" alt="line" />
      <li><a href="#">Catalogo</a></li>
      <img src="assets/images/line.svg" alt="line" />
      <li><a href="#">Ofertas</a></li>
    </div>

    <div class="navbar-desktop__actions">
      <app-button-icon
        [icon]="'assets/icons/user-2.svg'"
        [alt]="'Login account'"
      ></app-button-icon>
      <app-button-icon
        [icon]="'assets/icons/shopping-cart.svg'"
        [alt]="'Cart icon'"
      ></app-button-icon>
    </div>
  </ul>
</nav>
