/* LOGO */

.navbar-logo {
  font-weight: 700;
  color: var(--white-primary-color);
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .navbar-logo {
    font-size: 20px;
  }
}

.navbar-logo__red {
  color: var(--primary-color);
}
